<h1><%= @meetup.name %></h1>
<h2>Description: <%= @meetup.description %></h2>
<h2>Location: <%= @meetup.location %></h2>

<% @members.each do |member| %>
  <% if member.creator %>
    <h3>Creator: <%= member.user.username %></h3>
  <% end %>
<% end %>

<h3>Members: </h3>

<% @members.each do |member| %>
<div class="member">
    <img class="member_avatar" src="<%= member.user.avatar_url %>">
    <div class="member_name"><%=member.user.username%></div>
</div>
<% end %>

<a href="#" class="button">Join Meetup</a>
