<h1><%= @meetup.name %></h1>
<h2><%= @meetup.description %></h2>
<h2><%= @meetup.location %></h2>

<% @members.each do |member| %>
  <% if member.creator %>
    <h3>Creator: <%= member.user.username %></h3>
  <% end %>
<% end %>

<h3>Members: </h3>
<% @members.each do |member| %>
  <div>
    <img class="member_avatar" src="<%= member.user.avatar_url %>">
    <span class="member_name"><%=member.user.username%></span>
  </div>
<% end %>

<h3>Comments: </h3>

<%if @display_form%>
  <form action="/comment/<%=@meetup.id%>" method="post">
    <label for="body">Your Comment Here:</label>
    <input type="text" name="body">
    <input type="submit" name="submit">
  </form>
<%else%>
  <h1><%=@message%></h1>
<%end%>

<%@comments.each do |comment|%>
  <div>
    <%=comment.user.username%>
    <br>
    <%=comment.body%>
  </div>
<%end%>
