<h1><%= @meetup.name %></h1>
<h2>Description: <%= @meetup.description %></h2>
<h2>Location: <%= @meetup.location %></h2>

<% @members.each do |member| %>
  <% if member.creator %>
    <h3>Creator: <%= member.user.username %></h3>
  <% end %>
<% end %>

<h3>Members: </h3>
<ul class="member">
<% @members.each do |member| %>
  <li>
    <img class="member_avatar" src="<%= member.user.avatar_url %>">
    <span class="member_name"><%=member.user.username%></span>
  </li>
<% end %>
</ul>

<a href="/meetups/join" class="button">Join Meetup</a>
